.myLoginBtn {
	margin-left:50px;
}

.myLoginBtn>span{
    background-image: none;
    background-color: #007833;
    border-color: #005f28;
    color: #ffffff;
    text-shadow: none;
}

.myLoginBtn>span>span{
    color: #ffffff;
}

.myLoginBtn>span:hover {
	background-color:#005f28 !important;
    border-color: #005f28;
    color: #ffffff;
    text-shadow: none;
}
